		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work1.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work2.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work3.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work4.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work5.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work6.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work2.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work3.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="inner.html">
				<img src="assets/img/work1.jpg" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>culpa qui officia deserunt mollit</h1>
					</div>
				</div>
			</a>
		</div>