		<section class="top">	
			<div class="wrapper content_header clearfix">
				<h1 class="title">Blog</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content">
				<?php
				foreach ($entries as $entry) {
					echo '<div>';
					echo '	<h3>'.$entry->title.' by '.$entry->author.' posted on '.$entry->date.'</h3>';
					echo '	<p>'.$entry->summary.'</br>';
					echo '	<a href="'.$entry->link.'">Read more</a></p>';
					echo '</div>';
				}
				
				?>
			</div><!-- end content -->
		</section>
	</section><!-- end main -->