<!-- logo-singular -->
	<div class="logo-singular">
		<div class="container">
			<h3>Blog</h3>
			<div class="singular-left">
				<p class="sing">The developer's blog bringing stunning news about all recent changes in code and community..</p>
				<div class="singular-grids">
					<?php
					foreach ($entries as $entry) {
						echo '<div class="singular-grid-center">';
						echo '	<h4>'.$entry->title.' by '.$entry->author.' posted on '.$entry->date.'</h4>';
						echo '	<p>'.$entry->summary;
						echo '	<a href="'.$entry->link.'">Read more</a></p>';
						echo '</div>';
					}
					?>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<!-- //logo-singular -->