<!-- services -->
	<div class="services" id="community">
		<div class="container">
			<h3>Community</h3>
			<div class="service-grids">
				<div class="col-md-3 services-left">
					<div class="ref">
						<span> </span>
					</div>
					<div class="single-text">
						<p>Github</p>
					</div>
					<div class="clearfix"> </div>
					<p class="amet">We feel a strong desire for FLOSS-software, which is why our code is available for everyone to contribute at <a href="https://github.com/inexor-game/">Github</a>.</p>
				</div>
				<div class="col-md-3 services-left">
					<div class="ref1">
						<span> </span>
					</div>
					<div class="single-text">
						<p>Forum</p>
					</div>
					<div class="clearfix"> </div>
					<p class="amet">Communication is an important of every active community. Therefore we decided to provide <a href="https://community.inexor.org">a forum</a> for everyone!</p>
				</div>
				<div class="col-md-3 services-left">
					<div class="ref2">
						<span> </span>
					</div>
					<div class="single-text">
						<p>Pad software</p>
					</div>
					<div class="clearfix"> </div>
					<p class="amet">Ever needed to collaboritively work on a document? Share your ideas?
					We believe everyone in Inexor should have <a href="https://pad.inexor.org">a dedicated place</a> to do this.</p>
				</div>
				<div class="col-md-3 services-left">
					<div class="ref3">
						<span> </span>
					</div>
					<div class="single-text">
						<p>Documentation</p>
					</div>
					<div class="clearfix"> </div>
					<p class="amet">Documentation is a key priority for any fast and reusable project. We always cover you with <a href="http://docs.inexor.org">the latest API-documentation</a>.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->