<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="service-grids">
				<div class="col-md-6 services-left">
					<div class="single-text">
						<p>404 - something went wrong</p>
					</div>
					<div class="clearfix"> </div>
					<p class="amet">We are sorry to tell you we couldn't find the requested page.
					Here you have a grumpy ogro as an excuse..</p>
				</div>
				<div class="col-md-6 services-right">
					<img src="assets/img/sitting_ogro.jpg" alt=" " />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->