		<section class="top" style="background: url('/assets/img/stretch_image_landing.jpg') no-repeat !important;">	
			<div class="wrapper content_header clearfix">
				<h1 class="title">Inexor</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content">
				<p><iframe id="ytplayer" width="640" height="360" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLCbZc-GgCGzLhkGS5l850tjCQrPUeapK6" style="display: inline; margin-right: 20px; margin-bottom: 20px;" frameborder="0" align="center" allowfullscreen></iframe></p>
				<p>Inexor is a fork of the quake-like FPS Cube 2: <a href="http://sauerbraten.org">Sauerbraten</a>. It adds a lot of functionality and tries<br>
				to stay open for improvements and suggestions. The task is to be more flexible and create an</br>
				environment where developement is easy and fast and creativity can prosper.</p>
				<div class="info">
					<h2>Features</h2>
					<ul>
						<li>Entirely free and open source</li>
						<li>Great development setting</li>
						<li>Fast pace gameplay</li>
						<li>Ingame multiplayer map maker</li>
						<!-- <li>Highly Expandable (JS + HTML5)</li>-->
					</ul>
				</div>
				<p>The current release <i>(Pyrimethamine Alpha Edition)</i> can be obtained from <a href="https://github.com/inexor-game/code/releases">GitHub</a>.</p>
			</div><!-- end content -->
		</section>
		