		<section class="top" style="background: url('/assets/img/stretch_image_landing.jpg') no-repeat !important;">	
			<div class="wrapper content_header clearfix">
				<h1 class="title">Inexor</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content">
				<iframe id="ytplayer" type="text/html" width="555" height="324" src="https://www.youtube.com/embed/?listType=playlist&list=LLKOcY8wxvWq8pGLcESSpfhw" style="display: inline; margin-right: 20px; margin-bottom: 20px;" align="left" frameborder="0" allowfullscreen></iframe>
				<p>Inexor is a fork of the quake-like FPS Cube 2: <a href="http://sauerbraten.org">Sauerbraten</a>. It adds a lot of functionality and tries<br/>
				to stay open for improvements and suggestions. The task is to be more flexible and create an</br>
				environment where developement is easy and fast and creativity can prosper.</p>
				<div class="info">
					<h2>Features</h2>
					<ul>
						<li>Entirely free and open source</li>
						<li>Great development setting</li>
						<li>Fast pace gameplay</li>
						<li>Ingame multiplayer map maker</li>
						<!-- <li>Highly Expandable (JS + HTML5)</li>-->
					</ul>
				</div>
				<p>The current release <i>(Caffeine Edition)</i> can be obtained from <a href="https://github.com/inexor-game/code/releases/tag/v0.1-alpha">Github</a>.</p>
			</div><!-- end content -->
		</section>
		