<!DOCTYPE html>
<html lang="en">
<head>
	<title>Inexor - Stay's sauer. Becomes better.</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Inexor. A standalone fork of cube2 sauerbraten."/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>

	<header>
		<div class="logo">
			<a href="/"><img src="/assets/img/logo.png" title="Magnetic" alt="Magnetic"/></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav id="navigation">
			<ul>
				<li><a href="/blog" >Blog</a></li>
				<li><a href="/team">The Team</a></li>
				<li><a href="/content">Content</a></li>
				<li><a href="https://community.inexor.org">Community</a></li>
				<li><a href="https://github.com/inexor-game/wiki">Wiki</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<ul class="social clearfix">
				<li><a href="https://www.facebook.com/inexorgame" class="fb" data-title="Facebook"></a></li>
				<li><a href="https://twitter.com/inexorgame" class="twitter" data-title="Twitter"></a></li>
				<li><a href="/feed" class="rss" data-title="RSS"></a></li>
			</ul><!-- end social -->

			<!-- <div class="rights">
				<p>Copyright © 2014 magnetic.</p>
				<p>Template by <a href="">Pixelhint.com</a></p>
			</div> --><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->

	<section class="main clearfix">
		<?php 
			echo $this->render(Base::instance()->get('content')); 
			if (null !== Base::instance()->get('page')) echo $this->render('paginate.htm');
		?>
	</section><!-- end main -->
	
</body>
</html>
